<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common.html::head(~{::title})">
    <meta charset="UTF-8">
    <!--移动端更好的适应-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/dist/semantic/semantic.min.css">
    <link rel="stylesheet" href="../static/css/typo.css">
    <link rel="stylesheet" href="../static/css/my.css">
    <link rel="stylesheet" href="../static/lib/prism/prism.css">
    <link rel="stylesheet" href="../static/lib/tocbot/tocbot.css">
    <title>博客详情</title>
</head>
<body>
    <!--导航开始--------------------------------------------->
    <nav th:replace="common.html::menu(0)" class="ui inverted attached segment m-padded-mini m-shadow-small">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui teal header item">Blog</h2>
                <a href="#" class="m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="idea icon"></i>分类</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="clone icon"></i>归档</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="info icon"></i>关于我</a>
                <div class="right m-item item m-mobile-hide">
                    <div class="ui action input">
                        <input type="text" placeholder="输入关键字">
                        <button class="ui button">搜索</button>
                    </div>
                </div>
            </div>
        </div>

        <a href="#" class="ui m-menu m-toggle black icon button m-right-top m-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </nav>
    <!--导航结束---------------------------------------------->

    <br>
    <br>
    <br>
    <!--中间内容开始------------------------------------------>
    <div id="waypoint" class="m-container-small m-padded-large">
        <div class="ui container animated bounceInLeft">
            <!--中间内容头部信息开始-->
            <div class="ui top attached segment">
                <div class="ui horizontal link list">
                    <div class="item">
                        <img src="./static/images/me.jpg" th:src="@{${blog.user.avatar}}" alt="" class="ui avatar image"/>
                        <div class="content"><a href="#" th:href="@{/about}" class="header" th:text="${blog.user.nickname}">admin</a></div>
                    </div>
                    <div class="item">
                        <i class="edit icon"></i> <span th:text="${#dates.format(blog.updateTime, 'yyyy-MM-dd HH:mm:ss')}">2020-01-01</span>
                    </div>
                    <div class="item">
                        <i class="eye icon"></i> <span th:text="${blog.views}">1000</span>
                    </div>
                </div>
            </div>
            <!--中间内容头部信息结束-->

            <!--中间内容图片开始-->
            <div class="ui attached segment">
                <img src="./static/images/test1.jpg" th:src="@{${blog.firstPicture}}" alt="" class="ui fluid rounded image">
            </div>
            <!--中间内容图片结束-->

            <!--中间内容博客内容开始-->
            <div class="ui attached padded segment">
                <div class="ui right aligned basic segment">
                    <div class="ui green basic label" th:text="${blog.flag}">转载</div>
                </div>

                <h2 class="ui center aligned header" th:text="${blog.title}"></h2>

                <!--博客具体内容-->
                <div id="m-id-content" th:utext="${blog.content}" class="typo typo-selection js-toc-content m-padded-left-right-responsive m-padded-large">

                </div><br>
                <!--标签-->
                <div class=".m-padded-left-right-responsive">
                    <div class="ui basic teal left pointing label" th:each="tag : ${blog.tags}" th:text="${tag.name}">java</div>
                </div>
                <!--赞赏-->
                <div th:if="${blog.appreciation}">
                    <div class="ui center aligned basic segment">
                        <button id="m-pay-button-id" class="ui orange basic circular button">赞赏</button>
                    </div>
                    <div class="ui m-pay-q flowing popup transition hidden">
                        <div class="ui orange basic label">
                            <div class="ui images" style="font-size: inherit !important;">
                                <div class="image">
                                    <img src="./static/images/zhifupay.png" th:src="#{index.alipay}" alt="" class="ui rounded bordered image" style="width: 120px">
                                    <div>支付宝</div>
                                </div>
                                <div class="image">
                                    <img src="./static/images/wechat.png" th:src="#{index.wechatpay}" alt="" class="ui rounded bordered image"  style="width: 120px">
                                    <div>微信</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--中间内容博客内容结束-->

            <!--中间内容博客其他信息开始-->
            <div class="ui attached positive message" th:if="${blog.shareStatement}">
                <div class="ui middle aligned grid">
                    <div class="eleven wide column">
                        <ul class="list">
                            <li> 作者：<span th:text="${blog.user.nickname}">吃虾要去皮</span><a th:href="@{/about}" target="_blank">（联系作者）</a></li>
                            <li>发表时间：<span th:text="${#dates.format(blog.updateTime, 'yyyy-MM-dd HH:mm:ss')}">2020-01-01</span></li>
                            <li>版权声明：中山大学</li>
                            <li>转载说明：请在文末添加二维码</li>
                        </ul>
                    </div>
                    <div class="five wide column">
                        <img src="./static/images/wechat.png" th:src="#{index.wechat}" alt="" class="ui right floated rounded bordered image" style="width: 110px">
                    </div>
                </div>
            </div>
            <!--中间内容博客其他信息结束-->

            <!--中间内容留言区域开始-->
            <div  class="ui bottom attached segment" th:if="${blog.commentabled}">
                <!--中间内容留言区域列表-->
                <div id="comment-container" class="ui teal segment">
                    <div th:fragment="commentList">
                        <div class="ui threaded comments" style="max-width: 100%">
                            <h3 class="ui dividing header">评论区</h3>
                            <div class="comment" th:each="comment : ${comments}">
                                <a class="avatar">
                                    <img src="./static/images/user2.jpg" th:src="@{${comment.avatar}}">
                                </a>
                                <div class="content">
                                    <a class="author" >
                                        <span th:text="${comment.nickname}">Elliot Fu</span>
                                        <div class="ui mini basic teal left pointing label m-padded-mini" th:if="${comment.adminComment}">管理员</div>
                                    </a>
                                    <div class="metadata">
                                        <span class="date" th:text="${#dates.format(comment.createTime, 'yyyy-MM-dd HH:mm:ss')}">昨天上午12:30</span>
                                    </div>
                                    <div class="text" th:text="${comment.content}">
                                        <p>這對我的研究是非常有用.謝謝!</p>
                                    </div>
                                    <div class="actions">
                                        <a class="reply" data-commentid="1" data-commentnickname="sharon" th:attr="data-commentid=${comment.id}, data-commentnickname=${comment.nickname}"  onclick="reply(this)">回复</a>
                                    </div>
                                </div>
                                <div class="comments" th:if="${#arrays.length(comment.replyComments)}>0">
                                    <div class="comment" th:each="reply : ${comment.replyComments}">
                                        <a class="avatar">
                                            <img src="./static/images/user3.jpg" th:src="@{${reply.avatar}}">
                                        </a>
                                        <div class="content">
                                            <a class="author">
                                                <span th:text="${reply.nickname}">Jenny Hess</span>
                                                <div class="ui mini basic teal left pointing label m-padded-mini" th:if="${reply.adminComment}">管理员</div>
                                                &nbsp;&nbsp;<span th:text="|@ ${reply.parentComment.nickname}|" class="m-teal">@小白</span>
                                            </a>
                                            <div class="metadata">
                                                <span class="date" th:text="${#dates.format(reply.createTime, 'yyyy-MM-dd HH:mm:ss')}">刚刚</span>
                                            </div>
                                            <div class="text" th:text="${reply.content}">艾略特你永远是多么正确 :) </div>
                                            <div class="actions">
                                                <a class="reply" data-commentid="1" data-commentnickname="sharon" th:attr="data-commentid=${reply.id}, data-commentnickname=${reply.nickname}"  onclick="reply(this)">回复</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="comment-form"  class="ui form">
                    <input type="hidden" name="blog.id" th:value="${blog.id}">
                    <input type="hidden" name="parentComment.id" value="-1">
                    <div class="field">
                        <textarea name="content" placeholder="请输入评论信息..."></textarea>
                    </div>
                    <div class="fields">
                        <div class="field m-mobile-wide m-margin-bottom-small">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="text" name="nickname" placeholder="姓名" th:value="${session.SPRING_SECURITY_CONTEXT} != null ? ${session.SPRING_SECURITY_CONTEXT.authentication.principal.nickname}">
                            </div>
                        </div>

                        <div class="field m-mobile-wide m-margin-bottom-small">
                            <div class="ui left icon input">
                                <i class="envelope icon"></i>
                                <input type="text" name="email" placeholder="邮箱（选填）" th:value="${session.SPRING_SECURITY_CONTEXT} != null ? ${session.SPRING_SECURITY_CONTEXT.authentication.principal.email}">
                            </div>
                        </div>
                        <div class="field m-margin-bottom-small m-mobile-wide">
                            <button type="button" id="commentBtn" class="ui teal button m-mobile-wide"><i class="edit icon"></i>发布</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--中间内容留言区域结束-->
        </div>
    </div>
    <!--中间内容结束------------------------------------------>


    <!-- 右边小工具条开始  ---------------->
    <div id="toolbar" class="m-padded-all m-fixed m-right-bottom" style="display: none;">
        <div class="ui vertical icon buttons ">
            <button type="button" class="ui toc-button teal button">文章目录</button>
            <a href="#comment-container" class="ui teal button">留言</a>
            <button class="ui wechatReadBut icon button"><i class="weixin icon"></i> 扫码阅读</button>
            <div id="toTop-button" class="ui icon button"><i class="chevron up icon"></i> 回到首部</div>
        </div> 
    </div>
    <div class="ui toc-comtainer flowing popup transition hidden" style="width: 300px !important;">
        <ol class="js-toc">
        </ol>
    </div>
    <div id="qrcode" class="ui wechatRead flowing popup transition hidden" style="width: 130px !important">
        <!-- <img src="./static/images/wechat.png" class="ui rounded image" style="width: 100px" /> -->
    </div>
    <!-- 右边小工具条结束  ---------------->
    <br>
    <br>
    <br>
    <br>
    <!--底部内容开始-->
    <footer th:replace="common.html::footer" class="ui inverted vertical segment m-padded-massive">
        <div class="ui center aligned container">
            <div class="ui inverted divided stackable grid">
                <div class="three wide column">
                    <div class="ui inverted link list">
                        <div class="item">
                            <img src="./static/images/wechat.png" class="ui rounded image" alt="" style="width: 110px"/>
                        </div>

                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
                    <div class="ui inverted link list">
                        <a class="item" href="#">testXXXXXXXXX</a>
                        <a class="item" href="#">testXXXXXXXXX</a>
                        <a class="item" href="#">testXXXXXXXXX</a>
                        <a class="item" href="#">testXXXXXXXXX</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced">联系我</h4>
                    <div class="ui inverted link list">
                        <a class="item" href="#">Email: 1916339974@qq.com</a>
                        <a class="item" href="#">QQ: 1916339974</a>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced">介绍</h4>
                    <p class="m-text-thin m-text-spaced m-opacity-mini">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
                        XXXXXXXXXXXXXXXXXXXXXXXXXXXX</p>
                </div>

            </div>
            <div class="ui inverted section divider"></div>
            <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright 2019 - 2020 Huihua wu</p>
        </div>
    </footer>
    <!--底部内容结束------------------------------------------>

    <!--/*/<th:block th:replace="common.html::script">/*/-->
    <script src="../static/dist/jquery/jquery-3.4.1.min.js"></script>
    <script src="../static/dist/semantic/semantic.min.js"></script>
    <script src="../static/lib/scrollTo/scrollTo.min.js"></script>
    <script src="../static/lib/prism/prism.js"></script>
    <script src="../static/lib/tocbot/tocbot.js"></script>
    <script src="../static/lib/qrcode/qrcode.min.js"></script>
    <script src="../static/lib/waypoints/waypoints.min.js"></script>
    <!--/*/</th:block>/*/-->

<script th:inline="javascript">
    $('.m-menu.m-toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('#m-pay-button-id').popup({
       popup : $('.m-pay-q.popup'),
        on : 'click',
        position: 'bottom center'
    });

    /* 初始化文章目录 */
    tocbot.init({
      // 指定在哪放置这个文章目录
      tocSelector: '.js-toc',
      // 需要指定为哪个里面的内容生成目录
      contentSelector: '.js-toc-content',
      // 指定生成的级别
      headingSelector: 'h1, h2, h3, h4',
      // For headings inside relative or absolute positioned containers within content.
      hasInnerContainers: true
    });

    $('.toc-button').popup({
       popup : $('.toc-comtainer.popup'),
        on : 'click',
        position: 'left center'
    });
    $('.wechatReadBut').popup({
       popup : $('.wechatRead'),
        on : 'hover',
        position: 'left center'
    });
    var serurl = "http://wwww.happyeverymoment.cn:8080"
    var url = /*[[@{/blog/{id}(id=${blog.id})}]]*/"/blog/5"
    var qrcode = new QRCode("qrcode", {

        text: serurl + url,
        width: 100,
        height: 100,
        colorDark : "#000000",
        colorLight : "#ffffff",
        correctLevel : QRCode.CorrectLevel.H
    });

    $('#toTop-button').click(function() {
        $(window).scrollTo(0,800);
    });

    var waypoint = new Waypoint({
      element: document.getElementById('waypoint'),
      handler: function(direction) {
        if(direction == 'down') {
            $('#toolbar').show(400);
        } else {
            $('#toolbar').hide(400);
        }
      }
    });

    $('.ui.form').form({
        fields : {
            content : {
                identifier: 'content',
                rules: [{
                    type : 'empty',
                    prompt : '请输入评论内容'
                }]
            },
            nickname : {
                identifier: 'nickname',
                rules: [{
                    type : 'empty',
                    prompt : '请输入您的昵称'
                }]
            }
        }
    });

    $('#commentBtn').click(function() {
        var boo = $('.ui.form').form('validate form');
        if (boo) {
            //通过验证
            console.log('校验成功');
            postData();
        } else {
            console.log('校验失败');
        }
    });
    
    function postData() {
        $("#comment-container").load(/*[[@{/comment}]]*/"", {
            "parentComment.id" : $("[name='parentComment.id']").val(),
            "blog.id" : $("[name='blog.id']").val(),
            "nickname" : $("[name='nickname']").val(),
            "email" : $("[name='email']").val(),
            "content" : $("[name='content']").val(),
        }, function (responseTxt, statusTxt, xhr) {
            // $(window).scrollTo($('#comment-container'),500);
            $("[name = 'content']").val('');
            $("[name='parentComment.id']").val(-1);
            $("[name='content']").attr("placeholder", "请输入评论信息...");
        })
    };

    function reply(obj) {
        var commentId = $(obj).data('commentid');
        var commentNickname = $(obj).data('commentnickname');

        $("[name='content']").attr("placeholder", "@" + commentNickname).focus();
        $("[name='parentComment.id']").val(commentId);
        $(window).scrollTo($('#comment-form'),500);
    };

    $(function () {
        $("#comment-container").load(/*[[@{/comments/{id}(id=${blog.id})}]]*/);
    })

</script>
</body>
</html>